<center><h1>All Aquariums</h1></center>

<% @aquariums.each_slice(3) do |aquarium_slice| %>
  <div class="row">
    <% aquarium_slice.each do |aquarium| %>
      <div class="col-md-4 col-sm-6 product-index-single">
        <div class="well">
          <h2>Name: <a href="/aquariums/<%= aquarium.id %>"><%= aquarium.name %></a></h2>
          <h4>Address: <%= aquarium.address %></h4>
          <h4>City: <%= aquarium.city %></h4>
          <h4>State: <%= aquarium.state %></h4>
          <!--  <h4><a href="https://maps.google.com/?ll=<%= aquarium.lat %>,<%= aquarium.long %>">MAP</a></h4> -->         
        </div>
      </div>
    <% end %>
  </div>
<% end %>