<div class="container">
  <h2>Name: <%= @aquarium.name %></a></h2>
</div>
<div class="container">
  <h4>City: <%= @aquarium.city %></h4>
</div>
<div class="container">
  <h4>State: <%= @aquarium.state %></h4>
</div>
<div class="container">
  <h4>Address: <%= @aquarium.address %></h4>
</div>
<div class="container">
  <h4>Latitude: <%= @aquarium.lat %></h4>
</div>
<div>
  <h4 class="container"><a href="https://www.google.com/maps.google.com/?ll=<%= @aquarium.lat %>,<%= @aquarium.long %>">MAP</a></h4>
</div>
<div class="container">
  <h4>Longitude: <%= @aquarium.long %></h4>
</div>
<br>

<%= link_to "Edit Aquarium", "/aquariums/#{ @aquarium.id }/edit", class: "btn btn-warning" %>
<%= link_to "Delete Aquarium", "/aquariums/#{ @aquarium.id }", method: :delete, class: "btn btn-danger" %>