<div class="container">
  <h2>Name: <%= @aquarium.name %></a></h2>
</div>
<div class="container">
  <h4>City: <%= @aquarium.city %></h4>
</div>
<div class="container">
  <h4>State: <%= @aquarium.state %></h4>
</div>
<% if @aquarium.tips.any? %>
  <% @aquarium.tips.each do |tip| %>
    <h4>Tips: <%= tip.note %></h4>
  <% end %>
<% else %>
 <H4>No tips available</H4>  
<% end %>
<br>

<%= link_to "Edit Aquarium", "/aquariums/#{ @aquarium.id }/edit", class: "btn btn-warning" %>
<%= link_to "Delete Aquarium", "/aquariums/#{ @aquarium.id }", method: :delete, class: "btn btn-danger" %>