<center><h1>All Fish</h1></center>
<% @fishes.each_slice(3) do |fish_slice| %>
    <% fish_slice.each do |fish| %>
        <div class="well">
          <h2>Name: <a href="/fishes/<%= fish.id %>"><%= fish.name %></a></h2>
          <h5>Family: <%= fish.family %></h5>
          <h3>Color: <%= fish.color %></h3>
          <img src="<%= fish.default_image %>">  
          <h4>Description: <%= fish.description %></h4>
        </div>
    <% end %>
<% end %>